@media screen and (max-width: 600px) {
    .c {
        width: 100%;
        padding: 0 20px;
    }

    header .c {
        text-align: center;
    }

    .brand {
        display: block;
        font-size: 2em;
    }

    input {
        min-width: 0;
        width: 100%;
    }

    input[type=submit], button, .button {
        padding: .8em 0;
        width: 100%;
        text-align: center;
    }

    h1 {
        text-align: center;
    }
}