* {
    box-sizing: border-box;
}

body {
    margin: 0;

}

body, input, textarea, keygen, select, button {
    font-size: 16px;
    font-family: "Microsoft YaHei", "微软雅黑";
    color: #555;
}

.c {
    width: 960px;
    margin: 0 auto;
}

.logo {
    height: 60px;
    vertical-align: top;
}

.brand {
    font-size: 2.5em;
    padding-left: 30px;
}

header {
    padding: 10px 0;
    border-bottom: 1px solid #aaa;
    background: #e8e8e8;
}

footer {
    background: #e8e8e8;
    border-top: 5px solid #aaa;
    margin-top: 10px;
    line-height: 50px;
}

label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
}

input {
    padding: .5em .5em;
    border: 1px solid #888;
    min-width: 350px;
}

input[readonly] {
    background: #eee;
}

input[type=submit], button, .button {
    min-width: 0;
    background: #69c;
    color: #fff;
    font-weight: bold;
    border-radius: 3em;
    padding: .5em 2em;
    display: inline-block;
    text-decoration: none;
}

.btn-group {
    padding: 10px 0;
    background: #ddd;
    border-top: 1px solid #888;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.btn-group a.btn {
    width: 33.333333%;
    float: left;
    text-align: center;
    display: block;
    color: #555;
    text-decoration: none;
}

.btn-group a.btn.sel {
    color: #69c;
}

.btn-group a.btn .fa {
    font-size: 1.6em;
}

.alert {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d6e9c6;
    background: #dff0d8;
}

.alert .icon {
    font-size: 3.5em;
    vertical-align: middle;
}

.alert .txt {
    font-size: 1.5em;
    font-style: italic;
    vertical-align: middle;
}

.alert.error {
    background: #fbb;
    border: 1px solid #f00;
}

.alert.error .icon {
    color: #f33;
}

.alert.error .txt {

}